* {
    image-rendering: optimizeSpeed;             /* Older versions of FF          */
    image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
    image-rendering: -webkit-optimize-contrast; /* Safari                        */
    image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
    image-rendering: pixelated;                 /* Awesome future-browsers       */
    -ms-interpolation-mode: nearest-neighbor;   /* IE                            */
}

html, body {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    background: url(../img/bg.png);
    background-size: 100% 100%;
}

#app, #canvas, #menu, #firebase {
    width: 100%;
    height: 100%;
}

#canvas, #menu {
    position: absolute;
    top: 0px;
    left: 0px;
}

#logo {
    width: 100%;
    height: auto;
}

.firebaseui-container {
    background: none;
}